<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo,link)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${titulo}">Secretaria de Transporte</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700;800&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/imask"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.2"></script>

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <th:block th:insert="${link}"></th:block>
</head>

<body hx-ext="response-targets">
<div th:fragment="base(conteudo)" class="layout">
    <aside class="sidebar">
        <header class="sidebar-header">
            <img th:src="@{/images/logo.png}" class="logo" alt="Logo">
            <h1>SEC. TRANSPORTE</h1>
        </header>

        <nav class="menu">
            <a hx-get="/viagens" hx-target="#pagina" hx-push-url="true" class="menu-item" data-rota="/viagens">
                <i class="ti ti-road"></i>
                <span>Viagens</span>
            </a>
            <a hx-get="/passageiro" hx-target="#pagina" hx-push-url="true" class="menu-item" data-rota="/passageiro">
                <i class="ti ti-users"></i>
                <span>Passageiros</span>
            </a>
            <a hx-get="/motorista" hx-target="#pagina" hx-push-url="true" class="menu-item" data-rota="/motorista">
                <i class="ti ti-users"></i>
                <span>Motoristas</span>
            </a>
        </nav>

        <footer class="sidebar-footer">
            <a class="menu-item logout" hx-post="/logout"><i class="ti ti-logout"></i> <span>Sair</span></a>
        </footer>
    </aside>

    <div class="content">
        <header class="topbar">
            <div>
                <h2>Secretaria de Transporte</h2>
                <small>Gerenciamento de viagens oficiais</small>
            </div>
            <button class="btn-notificacao"><i class="ti ti-bell"></i></button>
        </header>

        <main id="pagina" class="page">
            <th:block th:insert="${conteudo}"></th:block>
        </main>
    </div>
    <script th:src="@{js/base.js}"></script>
</div>


</body>
</html>